# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.venv/
venv/
env/
ENV/
.env

# Artifacts & Outputs
artifacts/*
!artifacts/best_model.joblib

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
